<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Custom app logger patterns -->
    <property name="APP_LOG_PATTERN_CONSOLE" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}  %clr(%-5level) ${PID:- } --- [%t] [APP] %yellow(%logger{36}) : %msg%n" />
    <property name="APP_LOG_PATTERN_SECURITY" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}  %clr(%-5level) ${PID:- } --- [%t] [SECURITY] %blue(%logger{36}) : %msg%n" />
    <property name="APP_LOG_PATTERN_FLYWAY" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}  %clr(%-5level) ${PID:- } --- [%t] [FLYWAY] %green(%logger{36}) : %msg%n" />

    <!-- Import default spring logback configuration -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Appender for app console -->
    <appender name="CUSTOM_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${APP_LOG_PATTERN_CONSOLE}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Appender for security -->
    <appender name="SECURITY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${APP_LOG_PATTERN_SECURITY}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Appender for flyway-->
    <appender name="FLYWAY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${APP_LOG_PATTERN_FLYWAY}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Appender for file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level ${PID:- } --- [%t] %logger{36} : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Logger for app console -->
    <logger name="com.wojtasj.camrelay" level="INFO" additivity="false">
        <appender-ref ref="CUSTOM_CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Logger for flyway -->
    <logger name="org.flywaydb" level="INFO" additivity="false">
        <appender-ref ref="FLYWAY"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Logger for security -->
    <logger name="org.springframework.security" level="INFO" additivity="false">
        <appender-ref ref="SECURITY"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Default root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
